@using EscapeRoom.Models; 

@{
    var reservations = ViewBag.Reservations as IEnumerable<Reservation>;
    var rooms = ViewBag.Rooms as IEnumerable<Room>;
}

@{
    ViewBag.Title = "Dashboard";
}

@foreach (var room in rooms)
{
    <h2 class="text-center">Pokój @room.RoomName Rezerwacje:</h2>
    <table class="table table-striped table-bordered">

        <thead class="thead-dark">
            <tr>
                <th>Nazwa</th>
                <th>Początek rezerwacji</th>
                <th>Koniec rezerwacji</th>
                <th>Pokój</th>
                <th>Liczba osób</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in reservations.Where(x => x.RoomID == room.ID && x.ClientID != null))
            {
                <tr>
                    <td>@reservation.Name</td>
                    <td>@reservation.ReservationStart</td>
                    <td>@reservation.ReservationEnd</td>
                    <td>@reservation.Room.RoomName</td>
                    <td>@reservation.NumberOfPeople</td>
                </tr>
            }
        </tbody>
    </table>
}

