@using EscapeRoom.Models
@model DateTime

@{
    ViewData["Title"] = "Available Slots for " + ViewBag.ReservationDate.ToString("yyyy-MM-dd");
    var reservations = ViewBag.AvailableSlots as IEnumerable<Reservation>;
    var rooms = ViewBag.Rooms as IEnumerable<Room>;
}

<h2>Dostępne rezerwacje dnia @ViewBag.ReservationDate.ToString("yyyy-MM-dd")</h2>

@foreach (var room in rooms)
{
    <h2 class="text-center">Pokój @room.RoomName Rezerwacje:</h2>
    <table class="table table-striped table-bordered">
        <tbody>
            @foreach (var reservation in reservations.Where(x => x.RoomID == room.ID && x.ClientID == null))
            {
                <li>
                    @reservation.ReservationStart.ToString("yyyy-MM-dd HH:mm") - @reservation.ReservationEnd.ToString("HH:mm")
                    <input type="number" id="numberOfPeople_@reservation.ID" placeholder="Number of people" />
                    <button onclick="reserveSlot('@reservation.ID')">Rezerwuj</button>
                </li>
            }
        </tbody>
    </table>
}



@section Scripts {
    <script src="~/scripts/reservation.js"></script>
}

