@model DateTime

@{
    ViewData["Title"] = "Available Slots for " + ViewBag.ReservationDate.ToString("yyyy-MM-dd");
}

<h2>Available Slots for @ViewBag.ReservationDate.ToString("yyyy-MM-dd")</h2>

@foreach (var reservation in ViewBag.AvailableSlots)
{
    <li>
        @reservation.Room.RoomName: @reservation.ReservationStart.ToString("yyyy-MM-dd HH:mm") - @reservation.ReservationEnd.ToString("HH:mm")
        <input type="number" id="numberOfPeople_@reservation.ID" placeholder="Number of people" />
        <button onclick="reserveSlot('@reservation.ID')">Rezerwuj</button>
    </li>
}


@section Scripts {
    <script src="~/scripts/reservation.js"></script>
}

