@model IEnumerable<EscapeRoom.Models.Reservation>

@{
    ViewData["Title"] = "Moje reserwacje";
}

<h1>Moje rezerwacje</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPeople)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPeople)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
